@use '../util/' as u;

h1,
h2,
h3 {
    font-weight: 700; // bold
    line-height: 1.1;
    margin-top: 0;
}

h1 {
    // clamp(min_value, prefered_value, max_value) -> helps for responsive
    // font-size: clamp(28px, 16px + 2vw, 40px);
    font-size: clamp(u.pxToRem(28), u.pxToRem(16) + 2vw, u.pxToRem(40));
    // font-size: calc(16px + 2vw);
}

h2 {
    // font-size: clamp(22px, 14px + 1.5vw, 36px);
    font-size: clamp(u.pxToRem(22), u.pxToRem(14) + 1.5vw, u.pxToRem(36));
}

p {
    margin-top: 0;
    font-size: u.pxToRem(16);
}

a,
a:visited,
a:active {
    text-decoration: none;
}
