@use '../util' as u;

// nesting
.grid {
  display: grid;
  grid-template-columns: 1fr;
  // two rows
  grid-template-rows: auto auto;
  // auto: based on the content
  gap: 40px;
  // set a max-width for readibility on larger screens
  // max-width: 1000px;
  width: min(100% - 40px, 1000px);
  // row center the content
  margin-inline: auto;

  // load the mixin
  @include u.breakpoint(large) {
    grid-template-columns: 2fr 1fr;
    // one row set up
    grid-template-rows: auto;
  }
  
  &__main,
  &__sidebar {
    padding: 40px;
  }

  // & -> taking from the parent
  &__main {
    background-color: hsl(240, 99%, 33%);

    @include u.breakpoint(medium) {
      background-color: hsl(120, 100%, 16%);
    }

    @include u.breakpoint(large) {
      background-color: hsl(39, 100%, 35%);
    }
  }

  &__sidebar {
    background-color: hsl(300, 100%, 30%);

    @include u.breakpoint-down(medium) {
      text-align: center;
    }

    @include u.breakpoint-down(small) {
      text-align: right;
    }
  }
}
